@font-face {
    font-family: alagard;
    src: url("fonts/alagard.ttf");
}

.buttonBlank {
    -fx-graphic: url('images/tiles/cosmos/blank.png');
}

.buttonFilled {
    -fx-graphic: url('images/tiles/cosmos/filled.png');
}

.buttonCrossed {
    -fx-graphic: url('images/tiles/cosmos/crossed.png');
}

.win {
    -fx-image: url("images/backgrounds/win.png");
    -fx-opacity: 0;
}

.label {
    -fx-text-fill: #222779;
    -fx-font-size: 16;
    -fx-font-family: Alagard;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
    -fx-alignment: center;
}

.innerPane {
    -fx-background-image: url('images/backgrounds/game.jpg');
}

.nonogram {
    -fx-alignment: center;
}

.legend {
    -fx-alignment: center;
}