.buttonBlank {
    -fx-graphic: url('images/tiles/blank.png');
}

.buttonFilled {
    -fx-graphic: url('images/tiles/filled.png');
}

.buttonCrossed {
    -fx-graphic: url('images/tiles/crossed.png');
}

.innerPane {
    -fx-background-image: url('images/backgrounds/game.jpg');
}

.nonogram {
    -fx-alignment: center;
}

.legend {
    -fx-alignment: center;
}

.win {
    -fx-image: url("images/backgrounds/win.png");
    -fx-opacity: 0;
}

.label {
    -fx-text-fill: white;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
    -fx-alignment: center;
}