.buttonBlank {
    -fx-graphic: url('images/blank.png');
}

.buttonFilled {
    -fx-graphic: url('images/filled.png');
}

.buttonCrossed {
    -fx-graphic: url('images/crossed.png');
}

.gridpane {
    -fx-alignment: center;
    -fx-vgap: 0;
    -fx-hgap: 0;
}